
<section id="main" class="block">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#">
          <img src="/images/logo_150x150.png" width="50px" height="50px" alt="">
          Run To Live
        </a>
      </div>
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <li><a href="#map">Map</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
  </nav>
</section>

  <section id="map" class="block">
    <leaflet lf-center="center" markers="markers" event-broadcast="events" width="80%" height="100%"></leaflet>
  <h3></h3>
  </section>

<!-- About -->
    <section id="about" class="block">
      <a href="#about" class="btn btn-dark btn-lg">About</a>
    </section>

    <!-- About -->
    <section id="rating" class="block" style="background-color: #0C7D14;">
      <a href="#rating" class="btn btn-dark btn-lg">Rating</a>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="https://github.com/JediIT/RunToLiveServer"><i class="fa fa-github fa-3x social"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/runtolive.info"><i class="fa fa-facebook fa-3x social"></i></a>
                        </li>
                        <li>
                            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o fa-fw"></i>
                        <a href="mailto:info@runtolive.info">info@runtolive.info</a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Run To Live 2017</p>
                </div>
            </div>
        </div>
    </footer>